[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "==1.0.4"
pymongo = "==3.9.0"
prometheus_flask_exporter = "==0.10.0"
gunicorn = "==19.9.0"
requests = "==2.22.0"

[requires]
python_version = "3.7"
